@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  background-color: color(backdrop);
}

#lyc-app {
  background-color: color(backdrop);
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  font-size: $font-size;
  color: color(dark);
  line-height: 1.5;
  letter-spacing: 1px;
  @include flex($fd: column, $fw: nowrap, $ai: stretch);

  input:focus,
  textarea:focus,
  select:focus,
  a:focus {
    outline: none;
    -webkit-text-fill-color: var(--dark);
    box-shadow: inset 0 0 0 1000px var(--white);
  }
  h1 {
    font-size: fz(10);
  }

  .lyc-tooltip {
    position: fixed;
    color: $color-font-inverse;
    background-color: color(dark, 3);
    border-radius: s-unit(1);
    font-size: fz(3);
    opacity: 0;
    visibility: hidden;
    padding: s-unit(0.5) s-unit(2);
    margin: s-unit(1);
    text-align: center;
    transform: translateX(-50%);
    @include transitions(opacity 0.1s linear);
    @include utils-user-select(none);

    &--hover {
      visibility: visible;
      opacity: 1;
    }
  }

  .lyc-container {
    width: 100%;
    height: calc(100% - $navbar-height);
    box-sizing: border-box;
    @include small-device {
      min-width: 300px;
    }

    @include medium-device {
      min-width: 768px;
    }

    @include large-device {
      min-width: 992px;
    }
  }

  .lyc-main {
    flex: 1;
    overflow: auto;
    align-self: stretch;
    @include small-device {
      padding: 0 s-unit(2);
    }

    @include medium-device {
      padding: 0 s-unit(10);
    }

    @include large-device {
      padding: 0 s-unit(10);
    }
  }
}
